header {
	text-align:center;
	margin-top:50px;
	margin-bottom:50px;
}

.questions {
	width:1200px;
	top:40px;
	margin: 0 auto;
	clear:both;
}

.question {
	width:358px;
	padding:20px;
	float:left;
	height: 400px;
	border:1px solid black;
}

